/* Main Nav */

.topnav {
    position: fixed;
    background-color: #ff641d;
    width: 100vw;
	height: 59px;
    left: 0;
    right: 0;
    top: 0;
	z-index: 999;
  }

div {
	display: inline-block;
}

.flex {
	display: flex;
}

/* SVG Icons */

.svg-icon {
	vertical-align: middle;
	object-fit: contain;
    margin: 0 1vw 0 0;
    top: 1.5vh;
    height: 2.5vh;
}

.svg-container {
	right: 3vw;
	top: 2vh;
	position: absolute;
	height: fit-content;
}

/* Right Side Menu */

.burger-menu {
	color:#f4f4f4; 
	font-size: 2rem;
	user-select: none;
	padding: 10px 11px 10px 11px;
	transition-duration: 0.4s;
}

.burger-menu:hover, .pressed {
	cursor: pointer;
	background:#fff;
	color: #000;
	transition-duration: 0.4s;
}


.main-icon {
	height: 45px;
	margin: 10px 0 0 10px;
}

.main-icon:hover {
	cursor: pointer;
}

.main-menu {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	height: inherit;
	flex-direction: row-reverse;
	align-items: center;
}

.search-icon {
	height: 20px;
	margin: 0 3vw 0 0;
	padding: 5px;
}

	/* Search Bar */

	.button {
		display: inline-block;
		background-color: transparent;
		height: 60px;
		line-height: 60px;
		text-align: center;
		color: #f4f4f4;
		text-decoration: none;
		cursor: pointer;
		user-select: none;
		transition-duration: 0.4s;
	}
	
	.button:hover {
		transition-duration: 0.4s;
		background-color: #f4f4f4;
		color: black;
	}
	
	.search-bar {
		height: inherit;
		width: 50px;
		position: relative;
	}
	
	.mglass {
		display: inline-block;
		pointer-events: none;
		transform: rotate(-45deg);
	}
	
	.searchbutton {
		position: absolute;
		font-size: 22px;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	
	.search:focus + .searchbutton {
		transition-duration: 0.4s;
		background-color: white;
		color: black;
	}
	
	.search {
		position: absolute;
		left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
		background-color: white;
		outline: none;
		border: none;
		padding: 0;
		width: 0;
		height: 100%;
		z-index: 10;
		transition-duration: 0.4s;
	}
	
	.search:focus {
		width: calc(98vw - 88px); /* Bar width+1px */
		padding: 0 16px 0 0;
	}
	
	.expandright {
		left: auto;
		right: 49px; /* Button width-1px */
	}
	
	.expandright:focus {
		padding: 0 0 0 16px;
	}

.menu-container {
	width: 100vw;
	height: 100vh;
	position: fixed;
	background: #fff;
	display: block;
}

/* Search Menu */

.clear-search {
	text-align: center;
	border: 2px solid black;
	margin: 0.5vh 1vw;
}

.search-results {
	position: relative;
	padding: 0.5vh 1vw;
	width: 15vw;
}

.search-container {
	position: fixed;
	top: 10vh;
	max-height: 90vh;
	z-index: 999;
	overflow-y: auto;
	overflow-x: hidden;
}

/* Print View */

@media print {
	.topnav, .search-container {
		display: none; 					/* Removes the top nav bar and search menu when printing */
	}
}

@media only screen and (max-aspect-ratio: 2) {
	.search-bar {
		max-width: 35vw;
		position: relative;
	}

	.search-container {
		height: 100vh;
		width: 98vw;
		top: revert;
		max-height: revert;
		background: white;
	}

	.m-flex {
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
	}

	.search-results {
		justify-content: left;
		font-weight: 600;
		border: 2px solid black;
		margin: 5px;
		word-break: break-word;
		text-align: center;
		align-items: center;
		width: revert;
	}

	.clear-search {
		width: 100vw;
		justify-content: center;
		padding: 5px 0;
	}
}

@media (min-aspect-ratio: 2) {

	.svg-icon:hover, .search-results:hover, 
	.clear-search:hover {
		cursor: pointer;
		transform: scale(1.10);
		filter: invert(25%);
	}

	.clear-search:hover {
		transform: scale(1.05);
	}

}

  
  