<div class="topnav">
    <div class="icon-container">
        <img (click)="mainView()" class="main-icon" src="/assets/logo.svg" alt="Website Main Logo"/>
    </div>
    <div class="main-menu">
        <span (click)="toggleMenu()" [class.pressed]="menu_open" class="burger-menu">&#9776;</span>
        <div class="search-bar">
            <form autocomplete="off">
              <input [(ngModel)]="this.search"  (input)="searchView(this.search)" name="search" class="bar-search expandright" id="searchright" type="search" placeholder="{{7 | Config: this.lang}}">
              <label (click)="searchView(this.search)" class="button searchbutton" for="searchright"><span class="mglass">&#9906;</span></label>
            </form>
        </div>
    </div>
    <div [class.desktop-menu]="!screenSize" *ngIf="menu_open" [@slideInOut] class="menu-container">
            <div [class.desktop-item]="!screenSize" (click)="advancedView()" class="menu-point">{{13 | Config: this.lang}}</div>
            <div [class.desktop-item]="!screenSize" (click)="allView()"  class="menu-point">{{11 | Config: this.lang}}</div>
            <div [class.desktop-item]="!screenSize" (click)="recipeView()" class="menu-point">{{14 | Config: this.lang}}</div>
        <div [class.desktop-svg]="!screenSize" class="svg-container flex">
            <img [class.desktop-icon]="!screenSize" id="flag-de" class="svg-icon" src="assets/de.svg" alt="Flag of Germany" (click)="setLang('de')"/>
            <img [class.desktop-icon]="!screenSize" id="flag-en" class="svg-icon" src="assets/en.svg" alt="Flag of the United Kingdom" (click)="setLang('en')"/>
            <img [class.desktop-icon]="!screenSize" id="flag-fr" class="svg-icon" src="assets/fr.svg" alt="Flag of France" (click)="setLang('fr')"/>
        </div>
    </div>
</div>

  

