/* General */

@font-face {
  font-family: "IBM Plex";
  src: url('/assets/IBMPlexSerif.woff2') format('woff2'),
       url('/assets/IBMPlexSerif.woff') format('woff');
}

:host {
  --main-colour: #ff641d;
  --secondary-colour: #000;
  --hover-colour: #fff;
  --desktop-width: (30vw - 71px);
  --handheld-width: (100vw - 71px);
  font-size: 10pt;
}

h1 {
  margin: 0 0 5px 0;
  text-align: center;
  font-size: 35px;
  width: 100%;
}

.flex {
  display:flex;
  flex-wrap: wrap;
  align-items: baseline;
  font-family: 'IBM Plex', Fallback, Serif;
}

.svg-icon {
  transition: 0.4s;
  display: block;
  position: relative;
  object-fit: contain;
  width: 35px;
  height: 35px;
  margin: auto;
}

/* History */

.history {
  margin: 15px 0 0 0;
  width: 80vw;
}

/* Recipe View */

.recipe-header {
  border-bottom: 3px solid var(--main-colour);
  padding: 0 0 10px 0;
  margin: 0;
}

.overview {
    width: 90vw;
    text-align: center;
    border-bottom: 3px solid var(--main-colour);
    border-top: 3px solid var(--main-colour);
}

.overview-header {
  font-weight: bold;
}

.recipe {
  justify-content: center;
  max-width: 90vw;
  position: absolute;
  left: 5vw;
  right: 5vw;
  margin: 59px 0 0 0;
}

.recipe-item {
  padding: 1.5vh 3vw;
}

.preparation {
  display: block;
  text-align: left;
  position: relative;
  width: 90vw;
}

li {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

ol > li::marker {
  font-weight: bold;
}

.ingredients {
  min-width: 90vw;
  border-bottom: 3px solid var(--main-colour);
  justify-content: center;
}

.icon-band {
  display: flex;
  width: 90vw;
  flex-direction: row-reverse;
}

.band-item {
  padding: 5px;
  margin: 0;
  transition: 0.4s;
}

.band-item:hover {
  background: var(--main-colour);
  color: var(--hover-colour);
  transition: 0.4s;
  cursor: pointer;
}

.band-item:hover > .svg-icon {
  filter: invert(89%) sepia(100%) saturate(21%) hue-rotate(279deg) brightness(108%) contrast(107%);
  transition: 0.4s;
}

/* Main View */

  .main, .all-recipes, .advanced {
    flex-direction: row;
    width: 80vw;
    left: 10vw;
    right: 10vw;
    margin: 65px 0 0 0;
    position: relative;
    justify-content: space-between;
  }

  .main-item {
    padding: 7px;
    margin: 3px;
    word-break: break-word;
    border: 2px solid var(--secondary-colour);
    font-weight: 600;
    transition: 0.4s;
    flex-grow: 1;
    text-align: center;
  }

  .main-item:hover {
    background: var(--main-colour);
    color: var(--hover-colour);
    transition: 0.4s;
    cursor: pointer;
  }

  .main-item:hover > .svg-icon {
    filter: invert(89%) sepia(100%) saturate(21%) hue-rotate(279deg) brightness(108%) contrast(107%);
    transition: 0.4s;
  }

  .help {
    text-align: left;
    justify-content: left;
    margin: 15px 0 10px 0;
    font-size: 22px;
    font-weight: 600;
  }

  /* Main Letters */

  .letter {
    border: 2px solid var(--secondary-colour);
    padding: 10px;
    margin: 2px;
    position: relative;
    text-align: center;
    transition: 0.15s;
    font-weight: 600;
  }

  /* Main Tags */

  .tag {
    padding: 10px 10px;
    border: 2px solid var(--secondary-colour);
    margin: 1px;
    font-weight: 600;
    transition: 0.15s;
  }

  .tag-container {
    justify-content: start;
  }

  /* Main Search Results */

  .main__search {
    font-size: 14px;
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    line-height: 18px;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border: 2px solid var(--secondary-colour);
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    float: left;
  }

  .main__search:hover, .main__search:focus {
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 2px solid var(--main-colour);
    border-radius: 0;
    background-position: 100% center;
  }

  .main__form {
    width: calc(80vw + 23px);
    justify-content: center;
    padding: 0 0 15px 0;
  }

  .main__input {
    display: flex;
    width: inherit;
  }

  .search__result {
    width: 100%;
  }

  /* Main Search */

  .main__search:not(:placeholder-shown) .main__form {
    width: 80vw;
  }

  .main__search:not(:placeholder-shown) ~ .clear {
    opacity: 1;
    cursor: pointer;
    transition: 0.4s;
  }

  .clear {
    display: inline;
    background: none;
    border: none;
    opacity: 0;
    transition: 0.4s;
    padding: 5px;
    font-size: 20px;
    border-right: 2px solid var(--secondary-colour);
    border-bottom: 2px solid var(--secondary-colour);
    border-top: 2px solid var(--secondary-colour);
  }

  .main__search:focus ~ .clear, .main__search:hover ~ .clear {
    border-color: var(--main-colour);
    border: 2px solid var(--main-colour);
    transition: 0.4s;
  }


  /* Advanced View */

  .advanced__options {
    width: inherit;
    padding: 0 0 10px 0;
  }

  /* Print View */

@media print {

  h1 {
    padding: 0;
  }

  .recipe {
    max-width: revert;
    justify-content: space-evenly;
  }

  .icon-band {
    display: none;
  }

  .recipe-header {
    border: revert;
  }

}

  
 
  
