<app-main-bar (changeRecipe)="changeRecipe($event)" (searchView)="searchView($event)" (mainView)="mainView()"></app-main-bar>

<div class="history" *ngIf="this.history.length">
    <div style="font-size:1.5em"><strong>{{this.config.config[10][this.lang]}}</strong></div>
    <div class="history-delete" (click)="deleteRecords()">{{this.config.config[6][this.lang]}}</div>
    <div class="history-item" *ngFor="let history of this.history" (click)="changeRecipe(history)">{{replaceId(history)}}</div>
</div>

<div *ngIf="this.states[0]">
    <h1>{{recipe.names[lang]}}</h1>
    <div class="flex recipe">
        <div class="recipe-item overview">
            <div class="overview-header">{{config.config[0][lang]}}<br></div>
            <div class="overview-item" *ngFor="let recipe of recipe.overview; index as i ">{{replaceElement(recipe)}}<br>
                <div class="overview-header" *ngIf="i<5">{{config.config[i+1][lang]}}<br></div>
                </div>
            </div>
        <div style="max-width:30vw;">
            <div class="recipe-item">
                <div><strong>{{replaceElement(recipe.ingredients[0][0])}}</strong><br></div>
                <div *ngFor="let recipe of recipe.ingredients[0] | slice:1;">{{replaceElement(recipe)}}<br></div>
            </div>
            <div class="recipe-item" *ngIf="recipe.ingredients.length == 2">
                <div><strong>{{replaceElement(recipe.ingredients[1][0])}}</strong><br></div>
                <div *ngFor="let recipe of recipe.ingredients[1] | slice:1;">{{replaceElement(recipe)}}<br></div>
            </div>
        </div>
        <ol class="preparation">
            <li *ngFor="let recipe of recipe.preparation[lang]">{{recipe}}</li>
        </ol>
    </div>

</div>

<div *ngIf="this.states[1]">
    <h1>{{this.config.config[6][this.lang]}}: {{this.search}}</h1>
    <div class="flex search-container" style="margin-left: 15vw;margin-right: 15vw;">
        <div class="search-item" *ngFor="let result of this.results" (click)="changeRecipe(result)">{{replaceId(result)}}</div>
    </div>
</div>

<div *ngIf="this.states[2]">
    <div class="flex main" >
        <div class="form__group field flex main-item">
            <input type="input" class="form__field" placeholder="Name" name="name" id='name' [(ngModel)]="this.search" (input)="filterSearch(this.search)"/>
            <label for="name" class="form__label">{{this.config.config[7][this.lang]}}</label>
        </div>
        <div class="main-item help flex">{{this.config.config[8][this.lang]}}</div>
        <div class="flex main-item">
            <ng-container *ngFor="let letter of this.config.alphabet[this.config.alphabet.length - 1].concat(this.config.alphabet[this.lang])">
                <div class="letter" *ngIf="isNotEmpty(letter)" (click)="filterSearch(letter, true)">{{letter}}</div>
            </ng-container>
        </div>
        <div class="main-item help flex">{{this.config.config[9][this.lang]}}</div>
        <div class="flex main-item tag-container">
            <ng-container *ngFor="let tag of this.config.tags; index as i">
                <div *ngIf="tag.length" class="tag" (click)="this.results = tag">{{replaceTag(i)}}</div>
            </ng-container>
        </div>
    </div>
    <div class="search-container main_search">
        <div class="search-item" *ngFor="let result of this.results" (click)="changeRecipe(result)">{{replaceId(result)}}</div>
    </div>
</div>

<div *ngIf="this.states[3]">

</div>

