/* General */

button {
  background-color: transparent;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
}

h1 {
  padding: 10vh 0 0 0;
  text-align: center;
}

.flex {
  display:flex;
  flex-wrap: wrap;
  align-items: baseline;
}

@media (min-aspect-ratio: 2) {

  .history-delete:hover, .all-item:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  .search-item:hover, .history-item:hover, .all:hover {
    cursor: pointer;
    filter: invert(40%);
  }

  .letter:hover, .tag:hover, .history-item:hover {
    transform: scale(1.10);
    cursor: pointer;
  }
}

/* History */

.history {
  position: absolute;
  top: 10vh;
  width: 13vw;
  left: 85vw;
}

.history-delete {
  font-weight:600;
  text-align: center;
  border: 2px solid black;
}

.history-item {
  padding: 0.5vh 0 0 0;
}

/* Recipe View */

.overview {
    width: 20vw;
    text-align: center;
}

.overview-header {
  font-weight: bold;
}

.recipe {
  justify-content: center;
  max-width: 70vw;
  position: absolute;
  left: 15vw;
  right: 15vw;
}

.recipe-item {
  padding: 1.5vh 3vw;
}

.preparation {
  text-align: left;
  position: relative;
  max-width: 50vw;
}

li {
  max-width: 50vw;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

ol > li::marker {
  font-weight: bold;
}

.ingredients {
  max-width: 30vw;
}

/* Search View */

.search-container {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.search-item {
  padding: 1vh 1vw 1vh 1vw;
  font-size: 1.3em;
  font-weight: bold;
  width: 20vw;
}

/* Main View */

  .main {
    flex-direction: row;
    width: 30vw;
    left: 20vw;
    right: 50vw;
    position: relative;
    top: 15vh;
  }

  .main-item {
    margin: 3vh 0 0 0;
    justify-content: start;
    gap: 10px 10px;
  }

  .help {
    text-align: left;
    justify-content: left;
  }

  .help, .all {
    font-size: 1.5em;
    font-weight: 800;
  }

  .all {
    border: 2px solid black;
    padding: 2px;
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  /* Main Letters */

  .letter {
    border: 1px solid black;
    width: 2vw;
    padding: 5px 10px;
    margin: 2px;
    position: relative;
    text-align: center;
    transition: 0.15s;
    font-weight: 600;
  }

  /* Main Tags */

  .tag {
    padding: 7px;
    border: 1px solid black;
    margin: 1px;
    font-weight: 600;
    transition: 0.15s;
  }

  .tag-container {
    justify-content: start;
  }

  /* Main Search Results */

  .main_search {
    position: absolute;
    text-align: center;
    width: 20vw;
    left: 55vw;
    right: 25vw;
    top: 15vh;
  }

  .tags {
    width: 30vw;
    left: 20vw;
    right: 50vw;
    position: relative;
  }

  /* Main Search */

  .form__group {
    position: relative;
    padding: 15px 0 0;
    width: 30vw;
  }
  .form__field {
    width: 200px;
    height: 5vh;
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid black;
    outline: 0;
    font-size: 1rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  .form__field::placeholder {
    color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
    color: black;
  }
  .form__label {
    position: absolute;
    top: -15px;
    display: block;
    transition: 0.2s;
    font-size: 1.5rem;
    color: black;
    font-weight: 800;
  }
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 400;
    border-width: 3px;
    border-image: black;
    border-image-slice: 1;
    transition: 0.2s;
  }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: -15px;
    display: block;
    transition: 0.2s;
    font-size: 1.5rem;
    color: black;
    font-weight: 800;
  }

  /* All Recipe View */

  .all-recipes {
    position: absolute;
    width: 60vw;
    left: 20vw;
    right: 20vw;
    top: 10vh;
  }

  .all-item {
    padding: 7px;
    border: 1px solid black;
    margin: 3px;
    font-weight: 600;
    transition: 0.15s;
  }

  /* Print View */

@media print {
  .history {
    display: none;
  }
  h1 {
    padding: 0;
  }

  .recipe {
    max-width: revert;
    justify-content: space-evenly;
  }
}

/* Mobile View */

@media only screen and  (max-aspect-ratio: 2) {
  .history {
    display: none;
  }

  .recipe {
    max-width: 90vw;
    left: 5vw;
    right: 5vw;
  }

  .overview, .ingredients {
    width: 45vw;
  }

  .preparation {
    width: 70vw;
  }

  .main {
    width: 45vw;
    left: 5vw;
    top: 10vh;
  }

  .main_search {
    width: 45vw;
    right: 5vw;
    top: 10vh;
  }

  .form__field {
    height: 3vh;
    padding: revert;
  }

}

  
 
  
